<?php
$CONFIG = array(
  'instanceid' => '',
  'secret' => '',
  'trusted_domains' =>
  array (
    0 => '',
  ),
  'datadirectory' => '{{ nextcloud__data }}',
  'overwrite.cli.url' => '',
  'overwriteprotocol' => 'https',
  'dbtype' => '',
  'version' => '{{ nextcloud__version }}',
  'dbname' => '',
  'dbhost' => '',
  'dbtableprefix' => '',
  'dbuser' => '',
  'dbpassword' => '',
  'installed' => false,
  'mail_smtpmode' => 'smtp',
  'mail_smtpsecure' => 'tls',
  'mail_smtpauthtype' => 'LOGIN',
  'theme' => '',
  'loglevel' => 2,
  'maintenance' => true,
);

